<div class="container ">
  <h2>このサイトについて</h2>
    <p>こちらのサイトはいろいろな遊びのレビューサイトです。<br>
       楽しかった遊び、自分の好きな遊び、みんなに知ってもらいたい遊びなどを投稿したり、<br>
       みんなの投稿した遊びを見たり、お気に入りの遊びを見つけよう！<br>
    </p>

  <h3>保護者の方へ</h3>
    <p>当サイトはコメント機能がございますので保護者管理のもとご利用をお願い致します。<br>
      またお子様の投稿の際には保護者の方がご確認の上ご投稿をお願い致します。<br>
    </p>

  <h3>※こちらのサイトを使用する上での注意※</h3>
    <p>みんなが気持ちよく利用できるサイトにしましょう。<br>
      常識ある投稿をお願いします。<br>
    </p>

  <h3>下記の行為は見つけ次第削除させていただきます。</h3>
    <p> ・不快になるような表現や発言。<br>
        ・危険な遊びの投稿<br>
        ・命にかかわるような遊びの投稿<br>
        ・人に危害が加わるような投稿<br>
    </p>

</div>