<%= flash[:notice] %>
<div class= "container text-center mb-4">

  <% if signed_in? %>
    <div class="top">
      <p class="top-text ">
        好きな遊びや楽しい遊びを紹介しよう<br>
        そしてまだ知らない遊びと出会っちゃおう！
      </p>
      <div class="top-subtitle" >今日、ナニスル？</div>
    </div>
  <% else %>
    <div class="top">
      <p class="top-text ">
        好きな遊びや楽しい遊びを紹介しよう<br>
        そしてまだ知らない遊びと出会っちゃおう！
      </p>
      <div class="top-subtitle" >今日、ナニスル？</div>

      <div class= "row justify-content-center font-weight-bold ">
        <div class="row col-md-3 offset-1 col-sm-7 mb-1 align-text-bottom  d-flex align-items-center">
          初めての方 <%=link_to "新規登録", new_user_registration_path, class: "btn btn-danger ml-2" %>
        </div>
        <div class="row col-md-3 col-sm-6 mb-1  d-flex align-items-center">
          会員のかた <%=link_to "ログイン", new_user_session_path, class: "btn btn-warning ml-2" %>
        </div>
        <div class="row col-md-4 col-sm-8  d-flex align-items-center">
          登録なしで覗いてみる <%=link_to "ゲストログイン",  users_guest_sign_in_path, method: :post, class:"btn btn-success ml-2" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
