<div class= "container">



<h1>ナニスル？</h1>

<p>今日ナニスル？</p>
<p>楽しかった遊びや好きな遊びを紹介しよう<br>
そしてまだ知らない遊びと出会っちゃおう！</p>


<div class="row">
  初めての方 <%=link_to "新規登録", new_user_registration_path %>
</div>

<div class="row">
  会員のかた <%=link_to "ログイン", new_user_session_path %>
</div>

<div class="row">
  登録なしで覗いてみる <%=link_to "ゲストログイン" %>
</div>


</div>