<%= flash[:notice] %>
<div class= "container text-center" style=height:900px;>

  <h1>ナニスル？</h1>

    <p>
      好きな遊びや楽しい遊びを紹介しよう<br>
      そしてまだ知らない遊びと出会っちゃおう！
    </p>
    <p>今日、ナニスル？</p>

  <div class= "row justify-content-center">
    <div class="row mr-5">
      初めての方 <%=link_to "新規登録", new_user_registration_path, class:"btn btn-danger"%>
    </div>

    <div class="row mr-5">
      会員のかた <%=link_to "ログイン", new_user_session_path, class:"btn btn-success" %>
    </div>

    <div class="row">
      登録なしで覗いてみる <%=link_to "ゲストログイン" %>
    </div>
  </div>
</div>
