
<div class="container  col-md-6 col-md-offset-3 mb-5">
  <h3 class="favorite_title text-center" >お気に入りのあそび</h3>
    <% if @favorites.length > 0 %>
      <% @favorites.each do |favorite| %>
        <div class="box1">
          <%= link_to post_path(favorite.post_id) do %>
            <p class="post_name"><%= favorite.post.name %></p>
          <% end %>

          <%= link_to user_path(id: favorite.post.user.id) do %>
             <i class="fas fa-user mr-1"></i><%= favorite.post.user.username %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p class="text text-center mt-5">  お気に入りのあそびがありません。</p>

  <% end %>

</div>